[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
reward_system = "GApqVG7NC1WdiEtJce8JBCdv5R5ZK5izCWM181CcrAtD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
